
.row-padding{0px;}
.main_page{ font-family:lato !important; src: url(../fonts/Lato-Black.ttf);}
.main_page .container-fluid{padding:0;}
.main_page .page-header{margin:25px 0 20px;}
.main_page .page-header .container{padding:0;}
.main_page .page-header .container .col-md-3{padding:0;}
.main_page .page-header .container .col-md-9{padding:0; margin-top:18px; text-align:center;}
.main_page .page-header .nav{float:right;}
.main_page .page-header .navbar{margin-bottom:0px;}
.main_page .page-header .navbar-default{border:none; }
.collapse.navbar-collapse{padding:0;}
.navbar-nav > li{margin-right:1px;}
.navbar-nav > li > a{padding-top:10px; padding-bottom:10px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background-color: #44384c; border-radius:7px; color:#fff;}
.navbar-default .navbar-nav > li > a{color:#44384c; border-radius:7px}
.navbar-default .navbar-nav > li > a:hover{background-color: #44384c; color:#fff;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{margin:0;}
.main_page .banner{background:url(../images/banner.png) top center no-repeat;  margin-bottom:200px; padding:0; height:856px; position:relative;}
.main_page .banner .col-md-12{ margin-top:307px; text-align:center; position:absolute;}
.main_page .banner .col-md-12 button{height:38px; background-color:#ec1f26; border:none; border-radius:6px; width:168px; color:#fff; margin-left:10px;}
.main_page .banner .col-md-12 button:hover{background-color:#fff; color:#ec1f26;}
.main_page .section_1{background:url(../images/img.jpg) top center; padding:90px 0; text-align:center;}
.main_page .section_1 h1{color:#fff; font-size:60px;}
.container.row-padding{padding:66px 0 0 0;}
.main_page .section_1 .container .section_1_1{text-align:left; padding-top:56px;}
.main_page .section_1 .container .section_1_1 p{font-size:29px; color:#fff;}
.main_page .section_1 .container .section_1_1 span{color:#44384c;}
.main_page .container {text-align:center; padding-top:46px;}
.main_page .container h1{color:#44384c; font-size:60px; margin:0;  color:#44384c;}
.main_page .container .section_2{padding-top:41px; text-align:left; color:#44384c; }
.main_page .col-md-6.section_2_articel{margin:20px 0;}
.main_page .col-md-6.section_2_2 > img{ float:right;}
.main_page .col-md-6.section_2_4 > img{ float:right; }
.main_page .col-md-6 .col-md-10{padding:0; margin-top:30px;}
.main_page .col-md-6 .col-md-10 > h1{font-size:24px;}
.main_page .col-md-6.section_2_2 .col-md-10{margin:30px 0px 0px 140px;}
.main_page .col-md-6.section_2_4 .col-md-10{margin:30px 0px 0px 140px;}
.main_page .container > button{float:right; background:none; color:#44384c; border:none; font-weight:bold;}
.main_page .section_3{background:url(../images/img2.jpg) top center no-repeat; padding:45px 0; text-align:center;}

.main_page .section_3 h1{color:#fff; font-size:40px;}
.main_page .section_3 .col-md-12{margin:50px 0 0 0;}
.main_page .section_3 .col-md-12 .col-md-3{background:#fff; margin:0 4%; border-bottom:63px solid #44384c; position:relative; }
.main_page .section_3 .col-md-12 .col-md-3 p{margin:25px 10px;}
.main_page .section_3 .col-md-12 .col-md-3 .col-md-12{margin:32px 0 65px 0;}
.main_page .section_3 .col-md-12 .col-md-3 a{position:absolute; bottom:-14%; left:17%; color:#fff;}
.main_page .col-md-12.section_3 > button{background:none; border:none; color:#fff; font-size:24px;  margin:68px 71px 0 0; } 
.main_page .col-md-12.section_3 > button:hover{border-bottom:3px solid #fff; }

.element{ height:250px; overflow:hidden; text-align:center;}
.element img{ height:100%; }



@media screen and (max-width:1199px){
.main_page .page-header .container .col-md-3{ width:100%; text-align:center; }
.main_page .page-header .container .col-md-9{ width:100%;text-align:center; }
.main_page .page-header .nav{float:none;text-align:center;}

}

@media screen and (max-width:900px){
	.col-md-6.section_1_2 > img{width:100%;}
	.main_page .col-md-12 .section_3 .col-md-12 > img{width:100%;}
	.main_page .col-md-6.section_2_2 .col-md-10{ margin-left:0;}
	.main_page .col-md-6.section_2_4 .col-md-10{ margin-left:0;}
	.main_page{text-align:center;}
	.main_page .section_1{background-repeat:repeat-y;}
	.main_page .section_3{background-repeat:repeat-y;}
	.main_page .section_3 .col-md-12 .col-md-3{padding-top:5%;}
	.main_page .section_3 .col-md-12 .col-md-3{margin-top:15%;}

}

.upload{
	
	background: url("buy_back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.upload1{
	font-size: 60px;
	color: silver;
}

.upload2
{
    font-size:30px ;
}